.main-container {
    margin: 2rem;
    display: flex;
}

.main-containt {
    margin-left: 2rem;
}

.uppar-containt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
    opacity: .7;
}

.color-option {
    display: flex;

}

.color-option .option {
    background-color: black;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.color-option .option-a {
    background-color: #b9b7b7;

}

.cart-quantity {
    border: 1px solid black;
    height: 2.2rem;
    width: 4.2rem;
    position: relative;
}

.cart-quantity span {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    font-size: 16px;
    padding-top: 4px;
}

.cart-btn {
    background-color: black;
    color: aliceblue;
    font-weight: bolder;
    width: 95%;
    height: 2.2rem;
    border-radius: 1rem;
}

.collapsible {
    background-color: white;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    /* outline: none; */
}

.accordion-collapse.collapse {
    visibility: visible;
}


.accordion-item .accordion-button {
    color: #000;
}

.active,
.collapsible:hover {
    opacity: .7;
}

.content {
    padding: 0 18px;
    display: none;
}

.accordion-item .accordion-button {
    position: relative;
}

/* .accordion-item .accordion-button.collapsed::before {
    content: '';
    background-image: url(../../public/assets/);
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
} */

.accordion-item .accordion-button.collapsed::after {
    content: '';
    background-image: url(../../public/assets/Main_Image_01.webp);
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: none;
    position: absolute;
    right: 0;
}

.product-overview {
    color: #000;
}

.anglewhendals {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    padding: 3px 6px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
}

.accordion-item .accordion-button {
    width: 100%;
    text-align: left;
}

.accordion-item .accordion-button.collapsed i.fa.fa-minus {
    display: none;
}

.accordion-item {
    border-bottom: 1px solid #000;
    padding: 20px 0;
}

.accordion-body {
    margin: 20px 0 0;
}

.side-bar {
    /* width: 350px; */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    /* overflow-x: hidden; */
    transition: 0.5s;
    /* padding-top: 60px; */
}

.close-btn {
    color: #b9b7b7
}

.main-container.top-page {
    padding-top: 10%;
}